#Records {
    padding: 5vh;
    display: flex;
    background: var(--pink);
    .img-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .personal-info {
            text-align: center;
            margin: 0 1em;
        }
    }
    .employee-img-wrapper {
        width: 9em;
        height: 9em;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: var(--box-shadow);
        img {
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        svg {
            width: 5em;
            height: 5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: var(--dark-grey);
        }
    }
    .table {
        display: grid;
        grid-template-rows: auto 1fr;
        background: #fff;
        box-shadow: var(--box-shadow);
        width: 100%;
    }
    .table-head {
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        label {
            input {
                margin-left: .5em;
                padding: .5em;
            }
        }
        * {
            text-transform: capitalize;
        }
        .table-row {
            div {
                display: flex;
                justify-content: center;
            }
        }
    }
    .table-body {
        overflow-y: scroll;
        form {
            padding: .5em 0;
        }
    }
    .table-row {
        // padding: 0;
        display: flex;
        justify-content: space-around;
        border: none;
        margin: 1.5px 0;
        &.true {
            box-shadow: var(--box-shadow);
        }
        * {
            box-sizing: border-box;
        }
        & {
            > * {
                width: 100%;
            }
        }
        label, input, p {
            // text-align: center;
            // height: 100%;
            background-color: transparent !important;
        }
        p, label {
            // width: 100%;
            // display: flex;
            // justify-content: center;
        }
        input {
            border: 0 !important;
        }
        .btn-div {
            // display: flex;
            // padding: 0 1.5em;
            // width: fit-content;
            // align-items: center;
            svg {
                font-size: 1.2em;
            }
            svg:nth-of-type(1) {
                margin-right: .5em;
            }
            button {
                background: none;
                border: none;
            }
        }
    }

    // .table-body {
    //     fieldset:not([disabled]) {
    //         background: var(--m-grey);
    //         background: PINK;
    //         input::-webkit-calendar-picker-indicator {
    //             display: block;
    //         }
    //     }    
        // input::-webkit-calendar-picker-indicator {
        //     display: none;
        //   }      
    //     form:nth-of-type(even) {
    //         background: var(--light-grey)
    //     }
    // }

    .table-body {
        form:nth-of-type(even) {
            background-color: var(--light-grey);
        }
        fieldset.true {
            background-color: var(--pink) !important;
        }
    }

    @-moz-document url-prefix() {
        input {
            clip-path: inset(0 17px 0 0);
        }
        .table-head {
            .search-div{
                display:none;
            }            
        }
      }
}