:root {
     --light-grey: #f9f9f9;
     --m-grey: #e0e0e0;
     --dark-grey: #909090;
     --blue: #dbe2e9;
     --pink: #e9dbe2;
     --red: #cc0000;
     --black: #010203;
     --m-width: "900px";
     --box-shadow: 0 1px 6px var(--dark-grey);
     --box-shadow-bottom: 0 1px 10px var(--dark-grey);
     --dashboard_navHeight: 2.5em;
     --icon-size: 2rem;
}

html,
body {
     margin: 0;
     padding: 0;
}

a {
     text-decoration: none;
     color: unset;

     &:active {
          color: unset;
     }
}

.App {
     display: flex;
     min-height: 100vh;
     &>nav+[id] {
          text-align: center;
          width: 100%;
          margin: 0 auto;
          overflow-y: scroll;
          height: 100vh;
     }
}

* {
     font-size: 1em;
     font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
     color: var(--black);
     box-sizing: border-box;
}

h1 {
     text-transform: uppercase;
     color: var(--dark-grey);
}

::-webkit-scrollbar {
     width: .5rem;
}

::-webkit-scrollbar-track {
     background-color: var(--pink);
}

::-webkit-scrollbar-thumb {
     background: #cbaabb;
     border-radius: 50px;
}
// classList
.input-active-div {
     input {
          background: #fff !important;
          pointer-events: all !important;
     }
}

.red {
     fill: var(--red);
     color: var(--red);
}

.green {
     fill: green;
}

.center {
     display: flex;
     align-items: center;
     justify-content: center;
}

.scroll-y {
     overflow-y: scroll;
}

.overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 99;
}

.red-border {
     border: 1px solid var(--red);
}

img[alt*="logo"] {
     width: 30px;
}

.card {
     display: flex;
     text-align: center;
     flex-direction: column;
     background: #fff;
     padding: 1.5vw;
     border-radius: 15px;
     box-shadow: var(--box-shadow);
     max-width: 900px;
     height: fit-content;
}

.close-btn {
     position: absolute;
     right: 32px;
     top: 32px;
     width: 32px;
     height: 32px;
     opacity: 0.3;

     &:hover {
          opacity: 1;
     }

     &:before,
     &:after {
          position: absolute;
          left: 15px;
          content: " ";
          height: 33px;
          width: 2px;
          background-color: #333;
     }

     &:before {
          transform: rotate(45deg);
     }

     &:after {
          transform: rotate(-45deg);
     }
}

.hero-text {
     font-size: 3.5vw;
     font-size: clamp(2.5rem, 2.5vw, 3.5vw);
}

input {
     border: 1px solid var(--dark-grey);
     background: var(--light-grey);

     &:disabled {
          background: var(--light-grey) !important;
          border: 1px solid var(--m-grey) !important;
     }
}

.img-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


@media (orientation: portrait) {
     #Home {
          .main {
               flex-direction: column;
          }
     }

     #Punch {
          flex-direction: column-reverse;

          .left-div {
               height: unset !important;
          }

          .right-div {
               height: 100%;
          }
     }

}

@media (max-width: 900px) {
     .App {
          nav {
               height: 5.5em;
               padding: 0.5em;
               position: fixed;
               width: 100%;
               &+[id] {
                    padding: 6.5em .5em .5em .5em !important;
               }
          }
     }

     #CreateEmployee {
          align-items: unset;

          * {
               border-radius: unset;
          }

          .card {
               min-height: calc(100vh - var(--top-div-height));
          }

          .img-wrapper {
               background-color: var(--pink);

               img {
                    border: 5px solid var(--pink);
               }

               svg {
                    fill: var(--dark-grey);
               }
          }
     }

     #EachEmployee {
          justify-content: unset;
     }

     #Punch {
          .nav-div {
               display: flex;
               gap: 1.5em;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-around;
               flex-wrap: wrap;

               h2 {
                    display: none;
               }
          }
     }

     #Records {
          .table-body {
               overflow-y: unset !important;
          }
     }

}

@media (orientation: portrait),
(max-width: 900px) {
     .App {
          flex-direction: column;

          .card {
               width: 100%;
          }

          nav {
               .link-div {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

                    a {
                         height: 100%;
                         padding: 0;

                         div {
                              display: flex;
                              flex-direction: column;
                              text-align: center;
                              font-size: .5em;
                         }
                    }
               }

               h2 {
                    display: block;
                    margin: 0;
               }

               svg {
                    background: var(--pink);
                    border-radius: 50px;
                    font-size: 3.5rem;
                    padding: .15em;
               }

               .pin-icon {
                    display: none;
               }
          }
     }

     #Records {
          flex-direction: column;

          .top-div {
               flex-direction: row !important;
               justify-content: center;
               margin: 1vw;
          }
     }
}

@media (max-width: 710px),
(orientation: portrait) {
     #AllEmployees {
          .top-div {
               .search-input {
                    max-width: unset !important;
               }
          }
     }

     #CreateEmployee {
          .employeeForm {
               display: flex;
               flex-direction: column;
          }
     }

     #EmployeeProfile {
          * {
               box-shadow: unset;
          }

          .card {
               background: var(--pink);
               form {
                    display: flex;
                    flex-direction: column;
                    .info-div {
                         background: #fff;
                         padding: 1.5rem;
                    }
               }
               .top-div {
                    justify-content: center;

                    svg {
                         font-size: 3.1rem !important;
                         &:hover {
                              fill: var(--dark-grey);
                         }
                    }
               }

               .BiImageAlt {
                    fill: var(--dark-grey);
               }
          }

          .click-icon {
               fill: var(--black) !important;
          }
     }

     .center {
          justify-content: unset;
     }
}

@media (max-width: 630px) {
     .App {
          &>[id] {
               margin-top: 5rem;
          }
          nav {
               height: 3.5em;
               &+[id] {
                    padding-top: 5em !important;
               }
               .hamburger,
               .link-div {
                    height: unset;
               }
               .link-div {
                    display: none;
                    padding: 1em;

                    a {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         &:hover {
                              background-color: transparent !important;
                         }

                         >div {
                              width: 120px;
                              height: 120px;
                              border-radius: 50%;
                              background: var(--pink);
                              justify-content: center;
                         }
                    }

                    a::before {
                         content: "";
                         padding-bottom: 100%;
                         display: block;
                    }
               }

               .hamburger {
                    display: flex;
                    width: 2.5em;
                    height: 2.5em;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: auto;
               }

               .pin-icon {
                    display: none !important;
               }

               &.drop-down {
                    min-height: 100vh;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    background-color: var(--blue);
                    padding: unset;
                    .hamburger {
                         margin-top: 0.5em;
                         margin-right: 0.5em;
                    }
                    .link-div {
                         display: grid !important;
                         background-color: var(--blue);
                         a {
                              &>div {
                                   box-shadow: var(--box-shadow);
                              }
                         }
                    }
               }
          }
     }
}

@media (max-width: 500px) and (orientation: portrait) {
     .App {
          nav {
               h2 {
                    font-size: 2em;
               }
          }
     }
     main:not(#Landing):not(#Records) {
          *:not(.photo-icon) {
               font-size: 1.25em !important;
          }

          .search-input svg {
               font-size: 2em !important;
          }

          footer.bottom p {
               font-size: .9em !important;
          }
     }

     #Home .top {
          padding: .5em 1em !important;

          h2 {
               display: none;
          }

          img {
               width: 1.25em;
          }
     }
     #Punch {
          .nav-div {
               svg {
                    font-size: 9vw;
               }
          }
     }

     .video-box.create {
          #video {
               width: 100%;
               height: 100%;
               background: transparent;
          }
     }

     #Records {
          .table-head {
               .table-row {
                    display: none;
               }
          }
          .table-body {
               overflow-y: unset !important;
               form {
                    border-bottom: 2px solid var(--pink);
                    padding: .15em;
                    &:last-child {
                         border-bottom: none;
                    }
                    fieldset {
                         display: grid;
                         grid-template-columns: 1.5fr 2fr 1fr;
                         grid-template-rows: 1fr 1fr;
                         label {
                              width: 100%;
                              display: flex;
                              justify-content: flex-start;
                              padding: 0;
                              align-items: center;
                         }
                         label:nth-of-type(2):before {
                              content: "clork in";
                              width: 50%;
                              text-align: right;
                         }
                         label:nth-of-type(3):before {
                              content: "clork out";
                              width: 50%;
                              text-align: right;
                         }
                         label:nth-of-type(1) {
                              grid-column: 1/2;
                              grid-row: 1/3;
                         }
                         label:nth-of-type(2), label:nth-of-type(3) {
                              // grid-column: 1/2;
                         }

                         .btn-div {
                              grid-column: 3/4;
                              grid-row: 1/4;
                              width: 100%;
                              height: 100%;
                              padding: 0;
                         }
                    }                    
               }

               .table-row {
                    align-items: center;

                    input::-webkit-inner-spin-button,
                    .no-spin::-webkit-outer-spin-button {
                         -webkit-appearance: none !important;
                         margin: 0 !important;
                    }

                    input {
                         -moz-appearance: textfield !important;
                    }

                    .btn-div {
                         flex-direction: column;
                         justify-content: center;

                         svg {
                              margin: .15em !important;
                         }
                    }
               }
          }


     }

     #User {
          section {
               p {
                    margin: 0 !important;
               }
          }
     }
}